<mat-card>
    <mat-card-title>Elevation Graph</mat-card-title>
    <br>
    <div class="d-flex justify-content-between">
        <mat-card-subtitle>Y-axis -> Elevation <br> X-axis -> Distance</mat-card-subtitle>
        <mat-card-subtitle *ngIf="isShow==true">Average Elevation :- {{avg_elv}} <br> Max Elevation :- {{max_elv}}
        </mat-card-subtitle>
    </div>

    <canvas id="myChart"></canvas>
</mat-card>



<div class="d-flex justify-content-around" style="margin-top: 40px;" >
    <div>
        <mat-form-field appearance="outline" >
            <mat-label>Min. Distance</mat-label>
            <mat-select (selectionChange)="callMin($event)">
                <mat-option *ngFor="let food of x" [value]="food">
                    {{food}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
    <button mat-raised-button color="primary"  (click)="filterData()">Request Elevation
        Data</button>
    </div>
    <div>
        <mat-form-field appearance="outline" >
            <mat-label>Max. Distance</mat-label>
            <mat-select (selectionChange)="callMax($event)">
                <mat-option *ngFor="let food of x" [value]="food">
                    {{food}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>